In [21]:
import requests
from bs4 import BeautifulSoup as soup

In [22]:
html = requests.get('https://www.tripadvisor.com/Attractions-g294229-Activities-Jakarta_Java.html')
html.status_code

403

In [4]:
bsobj = soup(html.content, 'lxml')

In [5]:
# <div class="XfVdV o YQJrd"><span class="XQCOK">2.</span> Grand Indonesia Mall</div>
places = []
for name in bsobj.findAll('div', {'class': 'XfVdV o YQJrd'}):
    places.append(name.text.strip())
    
places

[]

In [6]:
# <svg class="UctUV d H0 hzzSG" viewBox="0 0 128 24" width="68" height="12" aria-labelledby=":lithium-rrn:"><title id=":lithium-rrn:">4.5 of 5 bubbles</title><path d="M 12 0C5.388 0 0 5.388 0 12s5.388 12 12 12 12-5.38 12-12c0-6.612-5.38-12-12-12z" transform=""></path><path d="M 12 0C5.388 0 0 5.388 0 12s5.388 12 12 12 12-5.38 12-12c0-6.612-5.38-12-12-12z" transform="translate(26 0)"></path><path d="M 12 0C5.388 0 0 5.388 0 12s5.388 12 12 12 12-5.38 12-12c0-6.612-5.38-12-12-12z" transform="translate(52 0)"></path><path d="M 12 0C5.388 0 0 5.388 0 12s5.388 12 12 12 12-5.38 12-12c0-6.612-5.38-12-12-12z" transform="translate(78 0)"></path><path d="M 12 0C5.389 0 0 5.389 0 12c0 6.62 5.389 12 12 12 6.62 0 12-5.379 12-12S18.621 0 12 0zm0 2a9.984 9.984 0 0110 10 9.976 9.976 0 01-10 10z" transform="translate(104 0)"></path></svg>
# <title id=":lithium-rrn:">4.5 of 5 bubbles</title>
ratings = []
for r in bsobj.findAll('svg', {'class': 'UctUV d H0 hzzSG'}):
    title_element = r.find('title')
    if title_element:
        ratings.append(title_element.text)
ratings

[]

In [8]:
reviews = []
for rev in bsobj.findAll('span', {'class': 'biGQs _P pZUbB hmDzD'}):
    reviews.append(rev.title.strip())
    
reviews

[]

In [9]:
category = []
for c in bsobj.findAll('span', {'class': 'biGQs _P pZUbB avBIb hmDzD'}):
    category.append(name.text.strip())
category

[]

In [12]:
import pandas as pd
d1 = {'Place': places, 'Ratings': ratings, 'Number of Reviews': reviews, 'Category': category}
df = pd.DataFrame.from_dict(d1)

df

Empty DataFrame
Columns: [Place, Ratings, Number of Reviews, Category]
Index: []